slack-bolt
pyyaml
python-dotenv
pydantic
notion-client
crewai
duckduckgo-search
zenrows
apscheduler
google-genai
tenacity
atlassian-python-api
google-auth-oauthlib
google-api-python-client
sqlalchemy
